{deps, []}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{erl_opts, [debug_info]}.

{eunit_opts, [
    no_tty,
    {report, {unite_compact, []}}
    % {report, {unite_compact, [profile]}}
]}.

{eunit_tests, [
    {dir, "test"}
]}.

{plugins, []}.

{profiles, [
    {test, [
        {deps, [unite]}
    ]}
]}.

{shell, [
    {apps, [nockr]}
]}.
